.gestione-personale-title {
	color: var(--p-text-color);
}

.ruolo-badge {
	background: var(--p-content-hover-background);
	color: var(--p-text-color);
}

.form-label {
	color: var(--p-text-color);
}
